In [81]:
import pandas as pd
tabela = pd.DataFrame({'Numero': [1, 2, 3, 4, 5, 6, 7],
                       'Nome':   ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                       'Time':   ['red', 'red', 'green', 'green', 'blue', 'blue', 'white']})
tabela2 = pd.DataFrame({'Numero': [1, 2, 3, 4, 5, 6, 7],
                       'Nome':   ['h', 'i', 'j', 'k', 'l', 'm', 'n'],
                       'Time':   ['orange', 'orange', 'cyan', 'cyan', 'magenta', 'magenta', 'black']})


# display(tabela)
# display(tabela2)
tabela3 = tabela.merge(tabela2, how='inner', on='Numero', suffixes=(' Sala A', ' Sala B'))
display(tabela3.head(5))
tabela4 = tabela.merge(tabela2, how='cross', suffixes=(' Sala A', ' Sala B'))
display(tabela4.head(5))
tabela5 = tabela.merge(tabela2, how='outer', suffixes=(' Sala A', ' Sala B'))
display(tabela5.head(5))

   Numero Nome Sala A Time Sala A Nome Sala B Time Sala B
0       1           a         red           h      orange
1       2           b         red           i      orange
2       3           c       green           j        cyan
3       4           d       green           k        cyan
4       5           e        blue           l     magenta

,Numero Sala A,Nome Sala A,Time Sala A,Numero Sala B,Nome Sala B,Time Sala B
0,1,a,red,1,h,orange
1,1,a,red,2,i,orange
2,1,a,red,3,j,cyan
3,1,a,red,4,k,cyan
4,1,a,red,5,l,magenta

   Numero Nome   Time
0       1    a    red
1       2    b    red
2       3    c  green
3       4    d  green
4       5    e   blue

In [36]:
# df1.merge(df2, left_on='lkey', right_on='rkey')

In [37]:
# df1.merge(df2, left_on='lkey', right_on='rkey',suffixes=('_left', '_right'))

In [82]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
display(df1)
display(df2)

df3 = df1.merge(df2, how='inner', on='a')
display(df3)

df4 = df1.merge(df2, how='left', on='a')
display(df4)

     a  b
0  foo  1
1  bar  2

     a  c
0  foo  3
1  baz  4

     a  b  c
0  foo  1  3

     a  b    c
0  foo  1  3.0
1  bar  2  NaN

In [83]:
df1 = pd.DataFrame({'left': ['foo', 'bar']})
df2 = pd.DataFrame({'right': [7, 8]})
df5 = df1.merge(df2, how='cross')
display(df5)

  left  right
0  foo      7
1  foo      8
2  bar      7
3  bar      8