In [2]:
import pandas as pd
import datetime as dt
meses = ['JAN', 'FEV', 'MAR', 'ABR', 'MAI', 'JUN', 'JUL', 'AGO', 'SET', 'OUT', 'NOV', 'DEZ']

In [3]:
# LÊ A TABELA
tabela = pd.read_excel('vendas.xlsx')
# CONVERTE A COLUNA 'DATA' PARA O FORMATO DE DATA
tabela['DATA'] = pd.to_datetime(tabela['DATA'])

In [4]:
# CRIA UMA LISTA COM OS ANOS DA COLUNA DATA DA TABELA E REMOVE AS DUPLICATAS
anos_tabela = tabela['DATA'].dt.year
lista_anos = []
for _ in range(len(anos_tabela)):
    if anos_tabela[_] not in lista_anos:
        lista_anos.append(anos_tabela[_])
print(lista_anos)

[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [5]:
tabela['ANO'] = tabela['DATA'].dt.year
tabela['MES'] = tabela['DATA'].dt.month
# display(tabela.groupby(by=['PEDIDO'])['TOTAL'])

In [17]:
# CRIA UM DATAFRAME COM A LISTA  DE ANOS CRIADA E OS MESES DO ANO
for _ in range(len(lista_anos)):
    relatorio = pd.DataFrame(columns=lista_anos, index=meses)

aumento = relatorio.copy()

i = 0
for _ in range(12):
    for i in range(len(lista_anos)):
        valor = tabela.loc[tabela['MES'] == _+1].loc[tabela['ANO'] == lista_anos[i]]['TOTAL']
        valor = float(valor)

        relatorio.loc[meses[_], lista_anos[i]] = f"{valor}"

relatorio.to_excel("RELATORIO.xlsx",sheet_name='TODOS OS ANOS')

In [37]:
# display(relatorio)
# i = 0
# for i in range(len(lista_anos)):
#     for _ in range(12):
#         print(f'Mês: {meses[_]}, Ano: {lista_anos[i]}, Valor: {relatorio.loc[meses[_], lista_anos[i]]}')

In [38]:
# for i in range(len(lista_anos)):
#     print(f'ANO: {lista_anos[i]}, Quant. Total: ', relatorio.loc[meses, lista_anos[i]].sum())

# for _ in range(12):
#     tabela2 = tabela.loc[tabela['MES'] == _+1]
#     display(tabela2)

In [39]:
# i = 0
# for i in range(len(lista_anos)):
#     for _ in range(12):
#         MES_ANO = tabela.loc[tabela['MES'] == _+1].loc[tabela['ANO'] == lista_anos[i]]['TOTAL']
#         print(MES_ANO)