In [65]:
import pandas as pd
import datetime as dt
meses = ['JAN', 'FEV', 'MAR', 'ABR', 'MAI', 'JUN', 'JUL', 'AGO', 'SET', 'OUT', 'NOV', 'DEZ']

In [66]:
# LÊ A TABELA
tabela = pd.read_excel('vendas.xlsx')
# CONVERTE A COLUNA 'DATA' PARA O FORMATO DE DATA
tabela['DATA'] = pd.to_datetime(tabela['DATA'])

In [67]:
# CRIA UMA LISTA COM OS ANOS DA COLUNA DATA DA TABELA E REMOVE AS DUPLICATAS
anos_tabela = tabela['DATA'].dt.year
lista_anos = []
for _ in range(len(anos_tabela)):
    if anos_tabela[_] not in lista_anos:
        lista_anos.append(anos_tabela[_])
print(lista_anos)

[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [68]:
tabela['ANO'] = tabela['DATA'].dt.year
tabela['MES'] = tabela['DATA'].dt.month

display(tabela.groupby(by=['PEDIDO'])['TOTAL'].sum())

PEDIDO
BIQUINI      4273
BONE         5004
CAMISA       2141
CUECA BOX    8720
SANDALIA     4147
SHORT        4615
TOALHA       4897
Name: TOTAL, dtype: int64

In [87]:
# CRIA UM DATAFRAME COM A LISTA  DE ANOS CRIADA E OS MESES DO ANO
for _ in range(len(lista_anos)):
    relatorio = pd.DataFrame(columns=lista_anos, index=meses)

i = 0
for _ in range(12):
    for i in range(len(lista_anos)):
        valor = float(tabela.loc[tabela['MES'] == _+1].loc[tabela['ANO'] == lista_anos[i]]['TOTAL'])
        relatorio.loc[meses[_], lista_anos[i]] = f"{valor}"
        
relatorio

      2015    2016   2017    2018    2019   2020   2021   2022
JAN  114.0   133.0   93.0   720.0   162.0   70.0   48.0  870.0
FEV  486.0    96.0   35.0   105.0   220.0  135.0  116.0  630.0
MAR  642.0   515.0  248.0  1001.0   512.0  574.0  848.0  110.0
ABR  485.0   210.0   74.0   715.0  1128.0  742.0  399.0  100.0
MAI  348.0   184.0   84.0    88.0   161.0  624.0  496.0  201.0
JUN  440.0   350.0  254.0   408.0   804.0   57.0  110.0  910.0
JUL  552.0   581.0  172.0   274.0    43.0  864.0  246.0  808.0
AGO  333.0   540.0  145.0   396.0    33.0  460.0  415.0  240.0
SET   26.0   750.0   80.0    45.0    84.0  280.0   29.0   74.0
OUT  475.0   415.0   28.0   220.0   111.0  472.0   72.0  206.0
NOV  434.0   450.0  195.0   870.0   294.0  200.0  384.0  470.0
DEZ    8.0  1048.0  138.0   645.0    47.0  330.0  384.0  576.0

In [80]:
# display(relatorio)
# i = 0
# for i in range(len(lista_anos)):
#     for _ in range(12):
#         print(f'Mês: {meses[_]}, Ano: {lista_anos[i]}, Valor: {relatorio.loc[meses[_], lista_anos[i]]}')

In [81]:
# for i in range(len(lista_anos)):
#     print(f'ANO: {lista_anos[i]}, Quant. Total: ', relatorio.loc[meses, lista_anos[i]].sum())

# for _ in range(12):
#     tabela2 = tabela.loc[tabela['MES'] == _+1]
#     display(tabela2)

In [82]:
# i = 0
# for i in range(len(lista_anos)):
#     for _ in range(12):
#         MES_ANO = tabela.loc[tabela['MES'] == _+1].loc[tabela['ANO'] == lista_anos[i]]['TOTAL']
#         print(MES_ANO)

In [84]:
relatorio.to_excel("RELATORIO.xlsx",sheet_name='TODOS OS ANOS')